<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- See https://github.com/nlog/nlog/wiki/Configuration-file and https://github.com/nlog/NLog/wiki/File-target for information on customizing logging rules and outputs. -->
  <targets>
    <target xsi:type="File" 
            name="AuditLogLiteLocalLogFile" 
            fileName="${basedir}/Logs/${shortdate}_AuditLogLiteLocal.log" 
            layout="${longdate} ${uppercase:${level}} ${message}"
            archiveNumbering="Rolling"
            archiveEvery="Day"
            maxArchiveFiles="30"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="AuditLogLiteLocalLogFile" />
  </rules>
</nlog>